.project-container{
 padding-bottom: 50px ;
}

.project-container h5{
    margin-top: 10px;
}

.project-container h4{
    font-weight: bold ;
    padding-top : 10px ;
}

.project-container h1{
    color : #ffffff ;
}

.project-container h5 {
    font-size: 13px;
    color : #ffffff ;
}

.project-container .projects {
    display: flex ;
    justify-content: space-evenly;
    flex-wrap: wrap ;

}

.project-container .projects .project{
    width : 330px ;
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    padding: 10px ;
    margin-top: 30px ;
    color: #ffffff;
    transition:all 0.4s ease ;
    -webkit-transition:all 0.4s ease ;
    -moz-transition:all 0.4s ease ;
    -ms-transition:all 0.4s ease ;
    -o-transition:all 0.4s ease ;
}

.project-container .projects .project img {
    width: 250px;
    height: 120px    ;

}

.project-container .projects .project:hover{
    transform: scale(1.02);
    box-shadow: 0 3px 3px 5px rgba(155, 88, 173, 0.65) !important;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    overflow: hidden;
}

.project-container .projects .project a img{
 width:30px ;
 margin-right: 8px ;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}

.project-container .projects .project a {
    text-decoration: none ;
    text-align: center ;
    margin-right: 10px;
    background-color:#c770f0;
    padding:15px ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    color : #ffffff;
}


.project-container .projects .project a:hover{
    background: darkmagenta;
    color : #ffffff;
}


