/* Footer.css */
.footer {
    display: flex;
    align-items: center;
    flex-direction: column ;
    padding: 10px;
    background-color: #0a0416;
    color: #fff;
  }


  .footer p {
    margin: 0;
  }

  .contact-links {
    display: flex;
  }

  .contact-links a {
    margin-right: 10px;
  }

  .contact-links img {
    width: 30px;
    height: 30px;
  }

  .contact-links a:last-child {
    margin-right: 0;
  }